# Protect this CODEOWNERS file from change
/.github/CODEOWNERS @meshtastic/admins

# Protect the legal directory from change
/docs/legal/* @meshtastic/admins

# Protect frozen documentation snapshots from change
/versions.json @meshtastic/admins
/versioned_docs/** @meshtastic/admins
/versioned_sidebars/** @meshtastic/admins
