[submodule "static/img/meshtastic-design"]
	path = static/img/meshtastic-design
	url = https://github.com/meshtastic/meshtastic-design/
[submodule "protobufs"]
	path = protobufs
	url = https://github.com/meshtastic/meshtastic-protobufs/
s