[submodule "static/img/meshtastic-design"]
	path = static/img/meshtastic-design
	url = https://github.com/meshtastic/meshtastic-design/
[submodule "static/design"]
	path = static/design
	url = https://github.com/meshtastic/meshtastic-design/
