


{
  "extends": ["eslint:recommended", "plugin:@typescript-eslint/recommended", "plugin:@docusaurus/recommended"],
  "parser": "@typescript-eslint/parser",
  "plugins": ["@docusaurus", "@typescript-eslint"],
  "root": true
}