.accordion {
  border: 1px solid var(--ifm-color-emphasis-200);
  border-radius: 2px;
}

.accordion__item+.accordion__item {
  border-block-start: 1px solid var(--ifm-color-emphasis-200);
}

.accordion__button {
  background-color: var(--ifm-footer-background-color);
  border: none;
  cursor: pointer;
  padding: calc(var(--ifm-pre-padding) / 1.5);
  text-align: start;
  inline-size: 100%;

  &:hover {
    background-color: var(--ifm-background-surface-color);
  }

  &::before {
    content: "";
    display: inline-block;
    inline-size: 10px;
    block-size: 10px;
    margin-inline-end: 12px;
    border-block-end: 2px solid currentColor;
    border-inline-end: 2px solid currentColor;
    transform: rotate(-45deg);
  }

  &[aria-expanded="true"]::before,
  &[aria-selected="true"]::before {
    transform: rotate(45deg);
  }
}

.accordion__panel {
  background: var(--ifm-background-color);
  padding: var(--ifm-pre-padding);
}

[hidden] {
  display: none;
}