---
id: api
title: Protobuf API Reference
sidebar_label: API
---

{{range .Files}}
## {{.Name}}
{{if .Messages}}
{{range .Messages}}

### {{.LongName}}
{{if .Description}}
:::note `message` description
{{.Description}}
:::
{{end}}

{{if .HasFields}}
| Field | Type | Description |
| ----- | ---- | ----------- |
{{range .Fields -}}
  | {{if .IsOneof}}[**oneof**](https://developers.google.com/protocol-buffers/docs/proto3#oneof) {{.OneofDecl}}.{{end}}{{.Name}} | {{if eq (index .LongType 0) (index (.LongType | upper) 0  )}}[`{{.LongType}}`](#{{.LongType | lower | replace "." ""}}){{else}}{{.LongType}}{{end}} | {{if .Description}}{{nobr .Description}}{{if .DefaultValue}} Default: {{.DefaultValue}}{{end}}{{else}}none{{end}} |
{{end}}
{{end}}
{{end}}

{{end}}
{{if .Enums}}
{{range .Enums}}

### {{.LongName}}
{{if .Description}}
:::note `enum` description
{{.Description}}
:::
{{end}}

| Name | Number | Description |
| ---- | ------ | ----------- |
{{range .Values -}}
  | `{{.Name}}` | `{{.Number}}` | {{if .Description}}{{nobr .Description}}{{else}}none{{end}} |
{{end}}

{{end}}
{{end}}
{{end}}